{% extends 'base_auth.html' %}
{% load static %}

{% block title %}
    {{ step.name }}
{% endblock %}

{% block stylesheet-link %}
    <link rel="stylesheet" href="../../../../static/style.css" type="text/css">
    <link rel="stylesheet" href="../../../../static/profile/detail.css" type="text/css">
    <link rel="stylesheet" href="../../../../static/calendar/doing/step/detail.css" type="text/css">
    <link rel="stylesheet" href="../../../../static/calendar/date_selector.css" type="text/css">
    <link rel="stylesheet" href="../../../../static/calendar/detail.css" type="text/css">
    <link rel="stylesheet" href="../../../../static/calendar/doing/detail.css" type="text/css">
{% endblock %}

{% block additional-pre-content %}
    <div class="between">
        <form id="edit_step_name_form" method="post" action="{% url 'change_step_name' step.pk %}" class="between__form-name">
            {% csrf_token %}
            <input type="text" name="step_name" value="{{ step.name }}" class="form-control-step"
                   required id="id_step_name" onchange="document.getElementById('edit_step_name_form').submit();">
        </form>
        <button type="button" class="btn-back" onclick="history.back();">Назад</button>
    </div>
{% endblock %}

{% block else-block %}
        <div class="wrapper">
            <section class="step-section">
                <div class="load__block calendar__item profile__block">
                    <div class="block__item">
                        <form id="id_realized_load_form" method="post" action="{% url 'change_realized_load' step.pk %}" class="load__item">
                            {% csrf_token %}
                            <input type="number" name="realized_load" value="{{ step.load.realized_load }}" class="form-control-realized-load"
                                   required id="id_realized_load" onchange="document.getElementById('id_realized_load_form').submit();" maxlength="3">
                        </form>
                        <p class="load__item" style="margin-right: 1vw"> / </p>
                        <form id="id_target_load_form" method="post" action="{% url 'change_target_load' step.pk %}" class="load__item">
                            {% csrf_token %}
                            <input type="number" name="target_load" value="{{ step.load.target_load }}" class="form-control-target-load"
                                   required id="id_target_load" onchange="document.getElementById('id_target_load_form').submit();" maxlength="3">
                        </form>
                    </div>
                    <form id="edit_load_measurement_type_name_form" method="post" action="{% url 'change_load_measurement_type_name' step.pk step.load.load_measurement_type.pk %}" class="form-load-measurement-type-name">
                        {% csrf_token %}
                        <input type="text" name="load_measurement_type_name" value="{{ step.load.load_measurement_type.name }}" class="form-control-load_measurement_type"
                               required id="id_load_measurement_type_name" onchange="document.getElementById('edit_load_measurement_type_name_form').submit();">
                    </form>
                </div>
            </section>
        </div>

{% endblock %}

{% block additional-content %}
    <section class="btns-section">
        <a href="{% url 'step_note' step.pk %}" class="section__note note-btn__image"></a>
    </section>
{% endblock %}