{% extends 'base_auth.html' %}
{% load static %}

{% block title %}
    {{ step.name }}
{% endblock %}

{% block stylesheet-link %}
    <link rel="stylesheet" href="../../../../static/style.css" type="text/css">
    <link rel="stylesheet" href="../../../../static/profile/detail.css" type="text/css">
    <link rel="stylesheet" href="../../../../static/calendar/doing/step/detail.css" type="text/css">
    <link rel="stylesheet" href="../../../../static/calendar/date_selector.css" type="text/css">
    <link rel="stylesheet" href="../../../../static/calendar/detail.css" type="text/css">
    <link rel="stylesheet" href="../../../../static/calendar/doing/detail.css" type="text/css">
{% endblock %}

{% block additional-pre-content %}
    <div class="between">
        <form id="edit_step_name_form" method="post" action="{% url 'change_step_name' step.pk %}" class="between__form-name">
            {% csrf_token %}
            <input type="text" name="step_name" value="{{ step.name }}" class="form-control-step"
                   required id="id_step_name" onchange="document.getElementById('edit_step_name_form').submit();">
        </form>
        <button type="button" class="btn-back" onclick="javascript:history.back();">Назад</button>
    </div>
{% endblock %}

{% block else-block %}
        <div class="wrapper">
            <section class="step-section">
                <p class="step__item">dd / dd</p>
                <p class="step__item">Тип нагрузки 1</p>
            </section>
        </div>
        <section class="btns-section">
            <a href="note.html" class="section__note">note</a>
        </section>
{% endblock %}