{% extends 'base_note.html' %}

{% block title %}
    Заметка для Шага
{% endblock %}

{% block stylesheet-link %}
    <link rel="stylesheet" href="../../../../../static/style.css" type="text/css">
    <link rel="stylesheet" href="../../../../../static/profile/detail.css" type="text/css">
    <link rel="stylesheet" href="../../../../../static/note.css" type="text/css">
    <link rel="stylesheet" href="../../../../../static/calendar/detail.css" type="text/css">
{% endblock %}

{% block note_name %}
    Заметка шага
{% endblock %}

{% block url_edit_text %}
    {% url 'step_note_edit_text' step_id note.pk %}
{% endblock %}

{% block url_edit_image %}
    {% url 'step_note_edit_image' step_id note.pk %}
{% endblock %}

{% block delete_btn %}
    <button class="section__trash" type="submit" onclick="location.href='{% url 'step_note_delete' step_id note.pk %}'" name="trash-btn"></button>
{% endblock %}