{% extends 'base_auth.html' %}

{% block title %}
    Изменение пароля
{% endblock %}

{% block stylesheet-link %}
    <link rel="stylesheet" href="../static/registration.css" type="text/css">
    <link rel="stylesheet" href="../static/profile/change_password.css" type="text/css">
{% endblock %}

{% load static %}

{% block else-block %}
    <form id="change_password_form" method="post" action="{% url 'change_password' %}" class="form-section__form">
        {% csrf_token %}
        <section class="form-section">
            <h3 class="from-section__header">Изменение пароля</h3>
                <div class="form-section__item">
                    <label for="id_old_password">Введите старый пароль</label>
                    <input type="password" name="old_password" class="form-control" required id="id_old_password">
                </div>
                <div class="form-section__item">
                    <label for="id_new_password1">Введите пароль</label>
                    <input type="password" name="new_password1" class="form-control" required id="id_new_password1">
                </div>
                <div class="form-section__item">
                    <label for="id_new_password2">Подтвердите пароль</label>
                    <input type="password" name="new_password2" required id="id_new_password2">
                </div>
        </section>
    <section class="btn-section">
        <div class="btn-section__wrapper">
            <button type="submit" class="btn-section__btn">Ввести</button>
        </div>
    </section>
    </form>
{% endblock %}