.section {
    display: flex;

    flex-flow: column nowrap;
    justify-content: space-between;

    margin: 5vh 1vw;
}

.section__links {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    text-decoration: underline black;
}

.section__hello-message {
    display: flex;
    flex-flow: column nowrap;
}

.hello-message__item {
    margin-bottom: 4vh;
}

.links__item {
    margin-bottom: 1vh;
}
