{% extends 'base_auth.html' %}
{% load static %}

{% block title %}
    {{ doing.name }}
{% endblock %}

{% block stylesheet-link %}
    <link rel="stylesheet" href="../../../static/style.css" type="text/css">
    <link rel="stylesheet" href="../../../static/profile/detail.css" type="text/css">
    <link rel="stylesheet" href="../../../static/calendar/detail.css" type="text/css">
    <link rel="stylesheet" href="../../../static/calendar/doing/detail.css" type="text/css">
{% endblock %}

{% block additional-pre-content %}
    <div class="between">
        <form id="edit_doing_name_form" method="post" action="{% url 'change_doing_name' doing.pk %}" class="between__form-name">
            {% csrf_token %}
            <input type="text" name="doing_name" value="{{ doing.name }}" class="form-control-doing"
                   required id="id_doing_name" onchange="document.getElementById('edit_doing_name_form').submit();">
        </form>
        <form id="edit_doing_date_form" method="post" action="{% url 'change_doing_date' doing.pk %}" class="between__form-date">
            {% csrf_token %}
            <input type="date" name="doing_date" value="{{ year }}-{{ month }}-{{ day }}" class="form-control-doing"
                   required id="id_doing_date" onchange="document.getElementById('edit_doing_date_form').submit();">
        </form>
        <button type="button" class="btn-back" onclick="javascript:history.back()">Назад</button>
   </div>
{% endblock %}

{% block else-block %}
    <section class="doing-section">
        <p class="doing__item">Шаг 1</p>
        <p class="doing__item">hh:mm</p>
        <p class="doing__item">hh:mm</p>
        <p class="doing__item">Шаг 2</p>
        <p class="doing__item">hh:mm</p>
        <p class="doing__item">hh:mm</p>
    </section>
{% endblock %}

{% block additional-content %}
    <section class="btns-section">
        <button class="section__plus">+</button>
        <a href="{% url 'doing_note' doing.pk %}" class="section__note">note</a>
        <button class="section__trash"></button>
    </section>
{% endblock %}