{% extends 'base_auth.html' %}
{% load static %}

{% load i18n inplace_edit %}

{% block title %}
    {{ doing.name }}
{% endblock %}

{% block stylesheet-link %}
    <link rel="stylesheet" href="../../../static/style.css" type="text/css">
    <link rel="stylesheet" href="../../../static/profile/detail.css" type="text/css">
    <link rel="stylesheet" href="../../../static/calendar/doing/detail.css" type="text/css">
{% endblock %}

{% block additional-pre-content %}
    <div class="between">
       <p class="between__name">{% inplace_edit "doing.name" %}</p>
       <p class="datetime">17-01-2021</p>
       <button type="button" class="btn-back" onclick="javascript:history.back()">Назад</button>
   </div>
{% endblock %}

{% block else-block %}
        <section class="doing-section">
            <p class="doing__item">Шаг 1</p>
            <p class="doing__item">hh:mm</p>
            <p class="doing__item">hh:mm</p>
            <p class="doing__item">Шаг 2</p>
            <p class="doing__item">hh:mm</p>
            <p class="doing__item">hh:mm</p>
        </section>
    </div>
    <section class="btns-section">
        <button class="section__plus">+</button>
        <a href="note.html" class="section__note">note</a>
        <button class="section__trash">delete</button>
    </section>
{% endblock %}