{% extends 'base_note.html' %}

{% block title %}
    Заметка для Деятельности
{% endblock %}

{% block stylesheet-link %}
    <link rel="stylesheet" href="../../../static/style.css" type="text/css">
    <link rel="stylesheet" href="../../../static/profile/detail.css" type="text/css">
    <link rel="stylesheet" href="../../../static/note.css" type="text/css">
{% endblock %}

{% block note_name %}
    Заметка деятельности
{% endblock %}

{% block url_edit_text %}
    {% url 'doing_note_edit_text' note.pk %}
{% endblock %}

{% block url_edit_image %}
    {% url 'doing_note_edit_image' note.pk %}
{% endblock %}

{% block url_delete_btn %}
    {% url 'doing_note_delete' note.pk %}
{% endblock %}