{% extends 'base_auth.html' %}
{% load static %}

{% block title %}
    {{ doing.name }}
{% endblock %}

{% block stylesheet-link %}
    <link rel="stylesheet" href="../../../static/style.css" type="text/css">
    <link rel="stylesheet" href="../../../static/profile/detail.css" type="text/css">
    <link rel="stylesheet" href="../../../static/calendar/date_selector.css" type="text/css">
    <link rel="stylesheet" href="../../../static/calendar/detail.css" type="text/css">
    <link rel="stylesheet" href="../../../static/calendar/doing/detail.css" type="text/css">
{% endblock %}

{% block additional-pre-content %}
    <div class="between">
        <form id="edit_doing_name_form" method="post" action="{% url 'change_doing_name' doing.pk %}" class="between__form-name">
            {% csrf_token %}
            <input type="text" name="doing_name" value="{{ doing.name }}" class="form-control-doing"
                   required id="id_doing_name" onchange="document.getElementById('edit_doing_name_form').submit();">
        </form>
        <form id="edit_doing_date_form" method="post" action="{% url 'change_doing_date' doing.pk %}" class="between__form-date">
            {% csrf_token %}
            <input type="date" name="doing_date" value="{{ year }}-{{ month }}-{{ day }}" class="form-control-doing"
                   required id="id_doing_date" onchange="document.getElementById('edit_doing_date_form').submit();">
        </form>
        <button type="button" class="btn-back" onclick="javascript:history.back()">Назад</button>
   </div>
{% endblock %}

{% block else-block %}
    <section class="doing-section">
        {% for s in steps %}
            <div class="step__block">
                <a href="{{ s.get_absolute_url }}" class="step__item">
                    <p>{{ s.name }}</p>
                </a>
                <p class="step__item">{{ s.start_time }}</p>
                <p class="step__item">{{ s.end_time }}</p>
            </div>
        {% endfor %}
    </section>
{% endblock %}

{% block additional-content %}
    <section class="btns-section">
        <button class="section__plus" type="submit" onclick="location.href='{% url 'append_step' doing.pk %}'" name="plus-btn">+</button>
        <a href="" class="section__note note-btn__image"></a>
        <button class="section__trash" type="submit" onclick="location.href='{% url 'delete_steps' doing.pk %}'" name="trash-btn"></button>
    </section>
{% endblock %}