{% extends 'base_auth.html' %}
{% load static %}

{% block title %}
    {{ doing.name }}
{% endblock %}

{% block stylesheet-link %}
    <link rel="stylesheet" href="../../../static/style.css" type="text/css">
    <link rel="stylesheet" href="../../../static/profile/detail.css" type="text/css">
    <link rel="stylesheet" href="../../../static/calendar/date_selector.css" type="text/css">
    <link rel="stylesheet" href="../../../static/calendar/detail.css" type="text/css">
    <link rel="stylesheet" href="../../../static/calendar/doing/detail.css" type="text/css">
{% endblock %}

{% block additional-pre-content %}
    <div class="between">
        <form id="edit_doing_name_form" method="post" action="{% url 'change_doing_name' doing.pk %}" class="between__form-name">
            {% csrf_token %}
            <input type="text" name="doing_name" value="{{ doing.name }}" class="form-control-doing"
                   required id="id_doing_name" onchange="document.getElementById('edit_doing_name_form').submit();">
        </form>
        <form id="edit_doing_date_form" method="post" action="{% url 'change_doing_date' doing.pk %}" class="between__form-date">
            {% csrf_token %}
            <input type="date" name="doing_date" value="{{ year }}-{{ month }}-{{ day }}" class="form-control-doing"
                   required id="id_doing_date" onchange="document.getElementById('edit_doing_date_form').submit();">
        </form>
        <button type="button" class="btn-back" onclick="history.back()">Назад</button>
   </div>
{% endblock %}

{% block else-block %}
    <section class="doing-section">
        {% for s in steps %}
            <div class="step__block calendar__item profile__block">
                <a href="{{ s.get_absolute_url }}" class="step__item">
                    <p>{{ s.name }}</p>
                </a>
                <form id="edit_step_start_time_form{{ s.pk }}" method="post" action="{% url 'change_step_start_time' doing.pk s.pk %}"
                      class="step__start-time-form">
                    {% csrf_token %}
                    <input type="time" name="step_start_time{{ s.pk }}" value="{{ s.start_time.hour }}:{{ s.start_time.minute }}" class="form-control-step-time"
                           required id="id_step_start_time" onchange="document.getElementById('edit_step_start_time_form{{ s.pk }}').submit();">
                </form>
                <form id="edit_step_end_time_form{{ s.pk }}" method="post" action="{% url 'change_step_end_time' doing.pk s.pk %}"
                      class="step__end-time-form">
                    {% csrf_token %}
                    <input type="time" name="step_end_time{{ s.pk }}" value="{{ s.end_time.hour }}:{{ s.end_time.minute }}" class="form-control-step-time"
                           required id="id_step_end_time" onchange="document.getElementById('edit_step_end_time_form{{ s.pk }}').submit();">
                </form>
            </div>
        {% endfor %}
    </section>
{% endblock %}

{% block additional-content %}
    <section class="btns-section">
        <button class="section__plus" type="submit" onclick="location.href='{% url 'append_step' doing.pk %}'" name="plus-btn">+</button>
        <a href="{% url 'doing_note' doing.pk %}" class="section__note note-btn__image"></a>
        <button class="section__trash" type="submit" onclick="location.href='{% url 'delete_steps' doing.pk %}'" name="trash-btn"></button>
    </section>
{% endblock %}