{% extends 'base_auth.html' %}
{% load static %}

{% block title %}
    Список деятельностей
{% endblock %}

{% block stylesheet-link %}
    <link rel="stylesheet" href="../../../../static/style.css" type="text/css">
    <link rel="stylesheet" href="../../../../static/profile/detail.css" type="text/css">
    <link rel="stylesheet" href="../../../../static/calendar/detail.css" type="text/css">
{% endblock %}

{% block additional-pre-content %}
       <div class="between">
           <p class="datetime">{{ day }}.{{ month }}.{{ year }}</p>
           <button type="button" class="btn-back" onclick="history.back()">Назад</button>
       </div>
{% endblock %}

{% block else-block %}
    <section class="calendar-section">
        {% for d in doings %}
            <div class="calendar__item profile__block">
                <a href="{{ d.get_absolute_url }}">
                    <p>{{ d.name }}</p>
                </a>
                <form id="edit_doing_type_name_form" method="post" action="{% url 'change_doing_type_name' year month day d.doing_type.pk %}" class="form-doing-type-name">
                    {% csrf_token %}
                    <input type="text" name="doing_type_name" value="{{ d.doing_type.name }}" class="form-control-doing_type"
                           required id="id_doing_type_name" onchange="document.getElementById('edit_doing_type_name_form').submit();">
                </form>
            </div>
        {% endfor %}
    </section>
{% endblock %}

{% block additional-content %}
    <section class="btns-section">
        <button class="section__plus" type="submit" onclick="location.href='{% url 'append_doing' year month day %}'" name="plus-btn">+</button>
        <button class="section__trash" type="submit" onclick="location.href='{% url 'delete_doings' year month day %}'" name="trash-btn"></button>
    </section>
{% endblock %}