{% extends 'base_auth.html' %}
{% load static %}

{% block title %}
    Список деятельностей
{% endblock %}

{% block stylesheet-link %}
    <link rel="stylesheet" href="../../../../static/style.css" type="text/css">
    <link rel="stylesheet" href="../../../../static/profile/detail.css" type="text/css">
    <link rel="stylesheet" href="../../../../static/calendar/detail.css" type="text/css">
{% endblock %}

{% block additional-pre-content %}
       <div class="between">
           <p class="datetime">{{ day }}.{{ month }}.{{ year }}</p>
           <button type="button" class="btn-back" onclick="history.back()">Назад</button>
       </div>
{% endblock %}

{% block else-block %}
    <section class="calendar-section">
        {% for d in doings %}
            <div class="calendar__item profile__block">
                <a href="{{ d.get_absolute_url }}">
                    <p>{{ d.name }}</p>
                </a>
                <p>{{ d.doing_type }}</p>
            </div>
        {% endfor %}
    </section>
{% endblock %}

{% block additional-content %}
    <section class="btns-section">
        <button class="section__plus" type="submit" onclick="location.href='{% url 'append_doing' year month day %}'" name="plus-btn">+</button>
        <button class="section__trash" type="submit" onclick="location.href='{% url 'delete_doings' year month day %}'" name="trash-btn"></button>
    </section>
{% endblock %}