.between {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    padding: 0 5vw;
    padding-top: 3vh;
}

.wrapper {
    margin-top: 2vh;
}

.calendar__item {
    padding-bottom: 0;
}

.btns-section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 5vw;
}

.section__plus {
    font-size: 90px;
}

.section__note {
    align-self: center;
}

.section__trash {
    align-self: center;
    width: 50px;
    height: 60px;
    background: url("../../media/interface_images/trash_can.svg") 0 0 /cover no-repeat;
}

.form-control-doing_type {
    width: 400px !important;
    max-width: 400px !important;
    overflow: scroll;
}