{% extends 'base_auth.html' %}

{% block additional-pre-content %}
    <div class="between">
        <p class="between__name">{% block note_name %}{% endblock %}</p>
        <button type="button" class="btn-back" onclick="history.back()">Назад</button>
    </div>
{% endblock %}

{% block else-block %}
    <section class="note-section">
        <form id="text_edit_form" method="post" enctype="multipart/form-data" action="{% block url_edit_text %}{% endblock %}">
            {% csrf_token %}
            <textarea name="note_text"  maxlength="63999"
                   required id="id_note_text" onchange="document.getElementById('text_edit_form').submit();">
                {{ note.text }}
            </textarea>
        </form>
        {% if note.image %}
            <img src="{{ note.image.url }}" alt="Соединение">
        {% endif %}
    </section>
{% endblock %}

{% block additional-content %}
    <div class="btns-section">
        <form id="image_edit_form" method="post" enctype="multipart/form-data" action="{% block url_edit_image %}{% endblock %}" class="choose_photo_form">
            {% csrf_token %}
            <input type="file" name="note_image" onchange="document.getElementById('image_edit_form').submit();" value="{{ note.image }}">
        </form>
        {% block delete_btn %}
        {% endblock %}
    </div>
{% endblock %}

