{% extends 'base_non_auth.html' %}
{% load static %}

{% block title %} Регистрация {% endblock %}

{% block stylesheet-link %}
  <link rel="stylesheet" href="../static/registration.css" type="text/css">
{% endblock %}

{% block else-block %}
    <form id="registration_form" method="post" action="{% url 'registration' %}" class="form-section__form">
        {% csrf_token %}
        <section class="form-section">
            <h3 class="form-section__header">Регистрация</h3>
                <div class="form-section__item">
                    <label for="id_email">Введите E-mail</label>
                    <input type="text" name="email" class="form-control" required id="id_email">
                </div>
                <div class="form-section__item">
                    <label for="id_password1">Введите пароль</label>
                    <input type="password" name="password1" class="form-control" required id="id_password1">
                </div>
                <div class="form-section__item">
                    <label for="id_password2">Подтвердите пароль</label>
                    <input type="password" name="password2" class="form-control" required id="id_password2">
                </div>
        </section>
    </form>
{% endblock %}

{% block additional-content %}
    <section class="btn-section">
        <div class="btn-section__wrapper">
            <button form="registration_form" type="submit" class="btn-section__btn">Ввести</button>
        </div>
    </section>
{% endblock %}
